{% extends 'base.html.twig' %}

{% block title %}Listado de tickets de eventos{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
        </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}