{% extends 'base.html.twig' %}

{% block title %}Listado de eventos{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Seleccionar</th>
        </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.date | date('d-m-Y H:i:s') }}</td>
                    <td><a href="#">Seleccionar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}